<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="labies-tabs1">
    <ion-tab title="Labies" icon="ion-woman" href="#/page1/page2" id="labies-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Gentlemen" icon="ion-man" href="#/page1/page3" id="labies-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="MyCart" icon="ion-android-person" href="#/page1/page4" id="labies-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>