<ion-view title="My Cart" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="myCart-list1">
      <ion-item class="item-thumbnail-left" id="myCart-list-item5">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <button id="myCart-button1" class="button button-positive button-block">Place Order</button>
    <div id="myCart-button-bar1" class="button-bar">
      <button id="myCart-button8" class="button button-assertive button-block">Empty Cart</button>
      <a ui-sref="labies.login()" id="myCart-button9" class="button button-royal button-block">Login</a>
    </div>
  </ion-content>
</ion-view>